/* Remove default event dots & styling */
.fc-daygrid-event {
    display: none !important;
}

/* Clean grid look */
.fc .fc-daygrid-day {
    background: #fefff9;
    border: 1px solid #e1ded8;
}

/* Default day numbers */
.fc .fc-daygrid-day-number {
    font-family: serif;
    color: #777;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
}


/* Blue underlined days WITH events */
.fc-day-has-event .fc-daygrid-day-number {
    color: #0a2ea6;
    text-decoration: underline;
    cursor: pointer;
}


/* Make cells taller and center content */
.fc .fc-daygrid-day-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Remove default top-right positioning */
.fc .fc-daygrid-day-top {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fc-dayGridMonth-button {
    display: none;
}


/* Future without event = black */
.fc-day-future-no-event .fc-daygrid-day-number {
    color: #000;
}

/* Past without event = gray */
.fc-day-past-no-event .fc-daygrid-day-number {
    color: #999;
}

/* Outside month */
.fc-day-outside-custom .fc-daygrid-day-number {
    color: #ccc;
}

/* Light green background for today */
.fc-day-today-custom {
    background-color: #d6fdcc !important;
}


/* Calendar title (Month Year) */
.fc .fc-toolbar-title {
    font-size: 20px;
}